<div class="header">
  <h1>Users Information</h1>
</div>
<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-body">
        <p>
          <strong>First name:</strong>
          <%= @user.first_name %>
        </p>

        <p>
          <strong>Last name:</strong>
          <%= @user.last_name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>

        <p>
          <strong>Password:</strong>
          <%= @user.password %>
        </p>
    </div>
</div>

<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-warning' %>
<%= link_to 'Back', login_path, class: 'btn btn-default' %>
